---
import { NewPositionForm } from "@/components/positions/new-position-form";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="New Position">
  <main
    class="flex min-h-screen flex-col items-center sm:pt-[7vh] pt-5 p-4 relative overflow-hidden"
  >
    <NewPositionForm client:load />
  </main>
</Layout>
