@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: hsl(250 100% 98.5%);
  --foreground: hsl(250 18% 7%);
  --card: hsl(250 100% 96%);
  --card-foreground: hsl(250 18% 7%);
  --popover: hsl(250 100% 96%);
  --popover-foreground: hsl(250 18% 7%);
  --primary: hsl(250 100% 67.1%);
  --primary-hover: hsl(250 100% 67.1% / 0.8);

  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(250 100% 90%);
  --secondary-foreground: hsl(250 100% 30%);
  --muted: hsl(250 100% 90%);
  --muted-foreground: hsl(250 20% 40%);
  --accent: hsl(250 100% 90%);
  --accent-foreground: hsl(250 100% 30%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);
  --border: hsl(250 100% 88%);
  --input: hsl(250 100% 88%);
  --ring: hsl(250 100% 67.1%);
  --radius: 0.75rem;

  /* Buttons */
  --secondary-button-background: hsl(250 100% 67.1% / 0.15);
  --secondary-button-background-hover: hsl(250 100% 67.1% / 0.25);
  --tertiary-button-background: hsl(240 44% 96%);
  --tertiary-button-background-hover: hsl(240 30% 91%);
  --outline-button-border: hsl(240, 10%, 92%);
}

.dark {
  --background: hsl(250 18% 7%);
}

@theme inline {
  --font-sans: "SNPro", ui-sans-serif, system-ui, sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary-button-background: var(--secondary-button-background);
  --color-secondary-button-background-hover: var(
    --secondary-button-background-hover
  );
  --color-tertiary-button-background: var(--tertiary-button-background);
  --color-tertiary-button-background-hover: var(
    --tertiary-button-background-hover
  );
  --color-outline-button-border: var(--outline-button-border);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
