@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SNPro";
  src: url("/fonts/SNPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: hsl(250 100% 98.5%);
  --foreground: hsl(250 18% 7%);
  --card: hsl(250 100% 96%);
  --card-foreground: hsl(250 18% 7%);
  --primary: hsl(250 100% 67.1%);
  --primary-hover: hsl(250 100% 67.1% / 0.8);

  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(250 100% 90%);
  --secondary-foreground: hsl(250 100% 30%);
  --muted: hsl(250 100% 90%);
  --muted-foreground: hsl(250 20% 40%);
  --accent: hsl(250 100% 90%);
  --accent-foreground: hsl(250 100% 30%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);
  --border: hsl(0, 0%, 0%);
  --input: hsl(250 100% 88%);
  --ring: hsl(250 100% 67.1%);
  --radius: 0.75rem;
  --divider: hsl(240, 10%, 92%);

  /* Buttons */
  --secondary-button-background: hsl(250 100% 67.1% / 0.15);
  --secondary-button-background-hover: hsl(250 100% 67.1% / 0.25);
  --tertiary-button-background: hsl(240 44% 96%);
  --tertiary-button-background-hover: hsl(240 30% 91%);
  --outline-button-border: hsl(240, 10%, 92%);
  --outline-button-hover: hsl(240 44% 96%);
  --disabled-button-background: hsl(240 44% 94%);
  --disabled-button-foreground: hsl(240, 10%, 65%);

  /* Modal */
  --modal: hsl(250 100% 98.5%);
  --modal-outline: hsl(240, 10%, 92%);
  --modal-foreground: hsl(250 18% 7%);
  --divider-on-modal: hsl(240, 10%, 92%);
  --tertiary-button-on-modal-background: hsl(240 44% 96%);
  --tertiary-button-on-modal-background-hover: hsl(240 30% 91%);

  /* Text */
  --mutated-text: hsl(240, 10%, 60%);
}

.dark {
  --background: hsl(240 9% 4%);
  --foreground: hsl(240 9% 85%);
  --primary: hsl(250 100% 67%);
  --primary-hover: hsl(250, 88%, 70%);
  --divider: hsl(240, 3%, 15%);

  /* Buttons */
  --secondary-button-background: hsl(249, 42%, 13%);
  --secondary-button-background-hover: hsl(249, 43%, 20%);
  --tertiary-button-background: hsl(0 0% 13%);
  --tertiary-button-background-hover: hsl(240 3% 16%);
  --outline-button-border: hsl(240, 3%, 15%);
  --outline-button-hover: hsl(240 3% 10%);
  --disabled-button-background: hsl(240, 3%, 7%);
  --disabled-button-foreground: hsl(240, 3%, 30%);

  /* Modal */
  --modal: hsl(0 0% 13%);
  --modal-outline: hsl(240, 3%, 15%);
  --modal-foreground: hsl(240 9% 85%);
  --divider-on-modal: hsl(240, 3%, 21%);
  --tertiary-button-on-modal-background: hsl(240, 2%, 10%);
  --tertiary-button-on-modal-background-hover: hsl(240, 2%, 8%);

  /* Text */
  --mutated-text: hsl(240, 3%, 40%);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: "SNPro", ui-sans-serif, system-ui, sans-serif;
  --text-base: 0.9375rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-modal: var(--modal);
  --color-modal-foreground: var(--modal-foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary-button-background: var(--secondary-button-background);
  --color-outline-button-hover: var(--outline-button-hover);
  --color-modal-outline: var(--modal-outline);
  --color-mutated-text: var(--mutated-text);
  --color-disabled-button-background: var(--disabled-button-background);
  --color-disabled-button-foreground: var(--disabled-button-foreground);
  --color-secondary-button-background-hover: var(
    --secondary-button-background-hover
  );
  --color-tertiary-button-on-modal-background: var(
    --tertiary-button-on-modal-background
  );
  --color-tertiary-button-on-modal-background-hover: var(
    --tertiary-button-on-modal-background-hover
  );
  --color-tertiary-button-background: var(--tertiary-button-background);
  --color-tertiary-button-background-hover: var(
    --tertiary-button-background-hover
  );
  --color-outline-button-border: var(--outline-button-border);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-divider: var(--divider);
  --color-divider-on-modal: var(--divider-on-modal);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans leading-5.5 text-base;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  animation: 1.5s ease-in-out theme-wipe forwards;
}

@keyframes theme-wipe {
  from {
    clip-path: circle(0% at 0 0);
  }
  to {
    clip-path: circle(200% at 0 0);
  }
}

@media (min-width: 768px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 24px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border: none;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-clip: padding-box;
    border: 9px solid transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.25);
    background-clip: padding-box;
    border: 9px solid transparent;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  /* Force vertical spacing using invisible buttons */
  .custom-scrollbar::-webkit-scrollbar-button:vertical:start:decrement {
    display: block;
    height: 0px;
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-button:vertical:end:increment {
    display: block;
    height: 0px;
    background-color: transparent;
  }
}
